<!DOCTYPE html>
<html>
<head>
	<title>Info Page</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">
</head>
<body>
	<div>
		<h1>Personal Information</h1> 		
	</div>

	
	<a href="/home">Back</a><br>
	<a href="/home/modify">Modify</a>


	Name:<%= data.username %>    <br>
	Id: <%= data.id %> <br>
	Full Name: <%= data.employer_name%> <br>
	Company Name: <%= data.company_name %> <br>
	Contact No: <%= data.contact_no %> <br>
	
</body>
</html>